# Python ignores
__pycache__
*.ipch
.ipynb_checkpoints

# Dev ignores
.vscode*
*.o
myproj
bin/myproj
# Please enter the commit message for your changes. Lines starting
# Misc ignores
.DS_Store

# output files
tmpdir/
src/output/

